<!DOCTYPE html>
<html lang="en">
  <head>
    {% block styles %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Baloo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap"
      rel="stylesheet"
    />

    <style>
      .navbar {
        background-color: black;
        color: white;
        margin: 20px;
        padding: 20px;
      }
      .content {
        background-color: black;
        color: white;
        margin: 20px;
        padding: 20px;
        text-align: center;
      }
      .container {
        background-color: peru;
        margin: 20px;
        padding: 20px;
      }
      .bottom {
        background-color: black;
        color: white;
        margin: 20px;
        padding: 20px;
      }
    </style>
    {% endblock %} {% if title %}
    <title>News - {{ title }}</title>
    {% else %}
    <title>Newws</title>
    {% endif %}
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="dropdown">
          <button
            class="btn btn-default dropdown-toggle"
            type="button"
            id="dropdownMenu1"
            data-toggle="dropdown"
            data-target="#dropdown"
            aria-haspopup="true"
            aria-expanded="true"
          >
            News highlights
           
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Categories</a></li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{url_for('main.articles',news_id = 'abc-news',per_page='10')}}"
                >News Today</a></li>
            <li><a href="#">Technology</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Country</a></li>
          </ul>
        </div>
        <!-- <button type="button" class="btn btn-secondary navbar-btn">Sign in</button> -->
      </nav>
      <div class="content">
        {% block content %} {% endblock %}
      </div>

      <nav class="bottom navbar-fixed-bottom" aria-label="Page navigation ">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="disabled">
            <a href="#" aria-label="Previous"
              ><span aria-hidden="true">&laquo;</span></a
            >
          </li>
          <li class="active">
            <a href="/home">1 <span class="sr-only">(current)</span></a>
          </li>
          <li><a href="/f">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      © 2020 GitHub, Inc. Trinity.
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
